# Automatically build the project, run tests, and optionally publish a release JAR.

name: build

on:
  push:
    tags:
      - "*"
    branches:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "microsoft"

      - name: Make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/

      - name: Create GitHub release (Optional)
        if: startsWith(github.ref, 'refs/tags/') # Make sure this only runs on releases
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/libs/*[!sources].jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
